{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Types{% endblock %}</h1>
  <!-- {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %} -->
{% endblock %}

{% block content %}
  <table>
    <thead>
      <th>type</th>
      <th>description</th>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td>{{ post['name'] }}</td>
        <td>{{ post['description'] }}</td>

        <form method="GET" action="/types">
          <input type="hidden" name="type" value={{post['tid']}} />
          <input type="submit" value="Get">
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}